<!--Pull in app.js, index.html will need to pull in app.js too-->
<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="UTF-8">
  <title>Stocks/Crypto Backlog</title>
   <!--Add bootstrap and stylesheet-->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- D3 JavaScript from CDN -->
    <script src='https://d3js.org/d3.v6.min.js'></script>
   <!--Add our own stylesheet-->
   <script src="/Coursework/Project_02/static/assets/css/style.css"></script>
</head>

<body>
    <!--Add container for chart-->
    <div class="container">
        <div class="row">
            <div class="col-md-12 page-header">
                <br>
                <h1>Stocks / Cryptocurrency Backlog</h1>
                <br>
            </div>
        </div>
        <!--Display chart from api route-->
        <table class="table table-striped">
        <thead>
            <th>Search ID</th>
            <th>User Input</th>
            <th>Timestamp</th>
        </thead>
        <tbody id = 'stocks_tbody'></tbody>
    </table>
    <a href = '/send'><button>Search for a stock or crypto</button></a>
    <a href = '/api/data'><button>View API Endpoint</button></a>  
    </div>
    <!--Add footer-->
    <div id="footer" style="text-align: center;">
        <br>
        <p>Data Bootcamp &copy;2021</p>
    </div>
    <!--Add custom app.js-->
    <script type="text/javascript" src="/Coursework/Project_02/static/assets/js/app.js"></script>
    <!--Django syntax url_for-->
    <script src='{{url_for("static", filename="js/app.js")}}'></script>
</body>
</html>

